Source: wicrawl
Section: net
Priority: extra
Maintainer: David Newgas <david@newgas.net>
Build-Depends: debhelper (>= 5), python-support, autotools-dev, libssl-dev, libpcap-dev
Standards-Version: 3.7.3

Package: wicrawl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}
Recommends: wicrawl-plugins
Description: a simple wi-fi (802.11x) Access Point auditor
 Wicrawl is a simple wi-fi (802.11x) Access Point auditor with a simple and 
 flexible plugin architecture. The plugins allow us to find out useful 
 information about an AP so we don’t have to manually check each access point. 
 Plugins are implemented for existing common tools, and new plugins can be 
 written in any language. Wicrawl is able to use multiple cards.
 .
 This package contains the GTK+ interface.

Package: wicrawl-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, ${perl:Depends}, dhcp3-client
Suggests: weplab, aircrack-ng, nmap, ettercap, flite, nessus
Description: Documentation for wicrawl
 Wicrawl is a simple wi-fi (802.11x) Access Point auditor with a simple and 
 flexible plugin architecture. The plugins allow us to find out useful 
 information about an AP so we don’t have to manually check each access point. 
 Plugins are implemented for existing common tools, and new plugins can be 
 written in any language. Wicrawl is able to use multiple cards.
 .
 This package contains plugins for wicrawl.
