#!/usr/bin/make -f
# -*- makefile -*-
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-plugins targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)


config.status: configure
	dh_testdir
	# Add here commands to configure the package.
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif
	./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info CFLAGS="$(CFLAGS)" LDFLAGS="-Wl,-z,defs"


#Architecture 
build: build-arch build-plugins

build-arch: build-arch-stamp
build-arch-stamp:  config.status

	# Add here commands to compile the arch part of the package.
	$(MAKE) not-plugins
	touch $@

build-plugins: build-plugins-stamp
build-plugins-stamp:  config.status

	# Add here commands to compile the plugins part of the package.
	$(MAKE) plugins
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-plugins-stamp 

	# Add here commands to clean up after the build process.
	$(MAKE) distclean
	rm -f config.sub config.guess

	dh_clean 

install: install-plugins install-arch
install-plugins: install-common
	dh_testdir
	dh_testroot
	dh_clean -k -pwicrawl-plugins
	dh_installdirs -pwicrawl-plugins
	dh_install -pwicrawl-plugins

install-arch: install-common
	dh_testdir
	dh_testroot
	dh_clean -k -pwicrawl
	dh_installdirs -pwicrawl
	dh_install -pwicrawl

install-common:
	$(MAKE) prefix=$(CURDIR)/debian/tmp/usr install

# Must not depend on anything. This is to be called by
# binary-arch/binary-plugins
# in another 'make' thread.
binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installmenu
	dh_pysupport
	dh_installman debian/wicrawl.1
	dh_link
	dh_strip
	dh_compress 
	dh_fixperms
	dh_perl
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture pluginsendant packages using the common target.
binary-plugins: build-plugins install-plugins
	$(MAKE) -f debian/rules DH_OPTIONS=-pwicrawl-plugins binary-common

# Build architecture dependant packages using the common target.
binary-arch: build-arch install-arch
	$(MAKE) -f debian/rules DH_OPTIONS=-pwicrawl binary-common

binary: binary-arch binary-plugins
.PHONY: build clean binary-plugins binary-arch binary install install-plugins install-arch install-common
